@using Microsoft.Extensions.Configuration
@inject IConfiguration config
@{
    ViewData["Title"] = config.GetSection("AppInfo")["Title"];
}

<div class="container-fluid top-panel">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title"><h5>Customer Account Details</h5></div>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <h5><label>Details</label>
                        <label class="pull-right">Currency NGN</label>
                        </h5>
                        <hr />
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Customer</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.Profile.ID, " / ", Model.Profile.Lastname, ", ", Model.Profile.Othernames)</div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Account Number</div>
                            <div class="col-sm-7 enquiry-value">@Model.ID</div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Account Type</div>
                            <div class="col-sm-7 enquiry-value">@Model.AccountType</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Account Officer</div>
                            <div class="col-sm-7 enquiry-value">@Model.AccountOfficer</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Product</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.Template.TemplateName, " / ", Model.ProductCode)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Branch</div>
                            <div class="col-sm-7 enquiry-value">@Model.Branch.BranchDesc</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Minimum Balance</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.MinimumBalance.ToString("#,##0.00"))</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Accept Cheques</div>
                            <div class="col-sm-7 enquiry-value">@Model.AcceptCheques</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Use for Loan / Fixed Deposit</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.UseForLoans, " / ", Model.UseForFixedDeposit)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Post No Debit / Credit</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.PostNoDebit, " / ", Model.PostNoCredit)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Interest Rate</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.InterestPerAnnum, "% per annum. Drops ", Model.InterestDrop)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Overdrawn Charge</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.ChargeForOverdrawn, " ",Model.OverdrawnFee," ", Model.OverdrawnChargeType)</div>
                        </div>
                        <hr />
                        <h5><label>Transaction Limits</label></h5>
                        <hr />
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Withdrawal Limit</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.WithdrawalTransactionLimit, " Transactions per ", Model.WithdrawalTransactionPeriod)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Withdrawal Amount</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.WithdrawalAmountLimit.ToString("#,##0.00"), " per ", Model.WithdrawalAmountPeriod)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Deposit Limit</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.DepositTransactionLimit, " Transactions per ", Model.DepositTransactionPeriod)</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Deposit Amount</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.DepositAmountLimit.ToString("#,##0.00"), " per ", Model.DepositAmountPeriod)</div>
                        </div>
                        <hr />
                        <h5><label>Notifications</label></h5>
                        <hr />
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">SMS</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.SMSNotification, " / ",Model.SMSCost ," per SMS")</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Email</div>
                            <div class="col-sm-7 enquiry-value">@Model.EmailNotification</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 enquiry-text text-right">Monthly Statement</div>
                            <div class="col-sm-7 enquiry-value">@string.Concat(Model.MonthlyStatement, " By ", Model.MonthlyStatementBy)</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a asp-action="CustomerAccount" asp-controller="Approval" class="btn btn-primary btn-sm pull-right">Back</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>



